.form{
  background-color: #2B2F39;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form label{
  display: flex;
  flex-direction: column;
  gap: .5em;
  color: #FEFFFF;
}

.form label input{
  width: 100%;
  border: none;
  background-color: #95979c;
  padding:.2em;
  border-radius: 4px;
}

.form-wrapper{
  padding: 1em;
}

.form button{
  align-self: flex-end;
  padding: .4em;
  border: none;
  border-radius: 4px;
  background-color: #FF6B6B;
  font-weight: bold;
  color: white;
}